# Dependency directories
node_modules/
.npm/

# Build artifacts
dist/

# Git history
.git/
.gitignore

# AetherOS localized runtime structures
data/
aetheros/
tsc_errors.txt
nexus-data/

# OS Image Build
os/iso-build/
